* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  /*background-color: #f4f6f8;*/
  background-color: rgb(231 221 218 / 30%) !important;
  color: #2c3e50;
  line-height: 1.6;
}
header {
  background-color: #ffffff;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: padding 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
header img {
  height: 50px;
}
header.scrolled {
	padding: 10px; 
	background-color: #f8f8f8;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
nav a {
  margin-left: 2rem;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: font-size 0.3s ease;
}
nav a:hover {
  color: #007BFF;
}
nav a.active {
  color: #007BFF;
  border-bottom: 2px solid #007BFF;
  padding-bottom: 4px;
}
main {
  margin-top: 100px;
}
.hero {
  padding: 3rem 2rem;
  background: linear-gradient(to right, #e3f2fd, #fff);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero h1 {
  font-size: 2.5rem;
  color: #1435a9;
  margin-bottom: 1rem;
}
.hero p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
}

footer {
  /*margin-top: 3rem;*/
  padding: 1rem;
  text-align: center;
  background-color: #fafafa;
  font-size: 0.9rem;
  color: #777;
}
	
