/*@font-face {
	font-family: Yanone Kaffeesatz;
	src: url('../fonts/YanoneKaffeesatz-Regular.eot');
	src: local("Yanone Kaffeesatz"),
		url('../fonts/YanoneKaffeesatz-Regular.ttf');
}*/

@font-face {
	font-family: News Cycle;
	src: url('../fonts/NewsCycle-Regular.eot');
	src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf');
}

@font-face {
	font-family: Souvenir-Medium;
	src: url('../fonts/Souvenir Medium.ttf');
	src: local("Souvenir-Medium"), url('../fonts/Souvenir Medium.ttf');	
	color: #545454;
}

html {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section {
	display: block;
}

body {
	font: normal .80em arial, sans-serif;
	/*background: url("../images/pattern.png");
	background-color: #F2F4F4;*/
	background-color: white;
	/*background: -webkit-linear-gradient(#ECEFF1, #F9FBE7);*/
}

p {
	padding: 0 0 20px 15px;
	line-height: 1.5em;
	font-family: 'Souvenir-Medium';
    font-size: 15px;
	color: #545454;
	text-anchor: middle;
}

img {
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
	letter-spacing: 0em;
	padding: 0 0 5px 0;
}

h1, h2, h3 {
	font: normal 140% arial, sans-serif;
	margin: 0 0 15px 0;
	padding: 15px 0 5px 0;
	color: #000;
}

h2 {
	font-size: 160%;
	padding: 9px 0 5px 0;
}

h3 {
	font-size: 140%;
	padding: 5px 0 0 0;
}

h4, h6 {
	color: #000;
	padding: 0 0 5px 0;
	font: normal 160% 'News Cycle', arial, sans-serif;
}

h5, h6 {
	color: #555;
	font: italic 95% arial, sans-serif;
	letter-spacing: normal;
	padding: 0 0 15px 0;
}

.atop {
	float: right;
	border:0px solid;
	font: normal 105% 'Souvenir-Medium';
	margin-top: 5px;
}

a, a:hover {
	outline: none;
	text-decoration: underline;
	color: #3f51b5;
}

a:hover {
	text-decoration: none;
}

blockquote {
	margin: 20px 0;
	padding: 10px 20px 0 20px;
	border: 1px solid #E5E5DB;
	background: #FFF;
}

ul {
	margin: 2px 0 22px 0px;
}

ul li {
	list-style-type: circle;
	/*margin: 20px 0 6px 0; 
  padding: 0 0 4px 5px;*/
	padding: 0 0 4px 0;
	line-height: 1.5em;
}

ol {
	margin: 8px 0 22px 20px;
}

ol li {
	margin: 0 0 11px 0;
}

.left {
	float: left;
	width: auto;
	margin-right: 10px;
}

.right {
	float: right;
	width: auto;
	margin-left: 10px;
}

.center {
	display: block;
	text-align: center;
	margin: 20px auto;
}

#main, nav, #container, #logo, #site_content, footer, header {
	margin-left: auto;
	margin-right: auto;
}

#main {
	margin: 0 auto;
	background: transparent;
	/*padding-bottom: 30px;*/
}

#top_split1 {
	border-bottom: 2px solid #9C27B0;
	background: #323232; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#DDD, #323232);
	background: -o-linear-gradient(#DDD, #323232);
	background: -webkit-linear-gradient(#DDD, #323232);
}

#top_split {
	/*background-image: url(../images/titleband1.jpg);
	margin-top:-60px;
	background: #3B3738;*/
	height: 95px;
	background: white;
	border-bottom: 1px solid lightgray;
	/*background: #3B3738;
    background: -webkit-linear-gradient(top left, #3B3738 0%, #3B3738 100%);
    background: linear-gradient(to bottom right, #3B3738 0%, #3B3738 100%);*/
	/*background: -moz-linear-gradient(#ECEFF1, #F9FBE7 90%);
	background: -o-linear-gradient(#ECEFF1, #F9FBE7 90%);
	background: -webkit-linear-gradient(#ECEFF1, #F9FBE7 90%);*/
}

header {
	width: 940px;
	background: transparent;
	height: 415px;
}

#logo {
	width: 940px;
	height: 55px;
	/*background: #F2F4F4;*/
	color: #888;
	padding: 0;
	float: left;
	/*margin-top:30px;*/
}

#logo h1, #logo h2 {
	font: normal 320% 'News Cycle', arial, sans-serif;
	border-bottom: 0;
	text-transform: none;
	margin: 0;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
	padding: 0;
	color: #FFF;
	text-decoration: none;
	text-shadow: 1px 1px #000;
}

#logo_text h1 a .logo_colour {
	color: #09D4FF;
	margin-left: 60px;
}

#logo_text h2 {
	font-size: 140%;
	padding: 0 0 0 0;
	color: #FFF;
}

nav {
	height: 25px;
	width: 940px;
	float: right;
	margin: 40px auto 0px auto;
	padding: 9px 0px;
	color: #FFF;
	background: transparent;
	border-bottom: 1px solid #BDBDBD;
}

#site_content {
	width: 940px;
	overflow: hidden;
	margin: 0 auto 0 auto;
	/*background: white;*/
	border-top: 1px solid lightgray;
	min-height: 275px;
}

#sidebar_container {
	float: left;
	width: 248px;
	margin: 0 0 0 0;
}

.sidebar {
	float: right;
	width: 220px;
	margin: 0 0 17px 0;
	padding: 0 15px 5px 13px;
}

.sidebar h3, .content h1 {
	padding: 15px 15px 20px 15px;
	font: 140% 'Souvenir-Medium';
	text-shadow: #888 0px 1px;
	margin: 0 1px;
	color: #403733;
}

.sidebar h3 {
	color: #000;
	font: 140% 'Souvenir-Medium';
	padding: 0 15px 5px 0;
}

.sidebar ul {
	margin: 0 0 15px 0;
}

.sidebar li a, .sidebar li a:hover {
	color: #555;
	text-decoration: none;
}

.sidebar li a:hover {
	text-decoration: underline;
}

.sidebar_item, .content_item {
	padding: 15px 0;
}

.content {
	text-align: left;
	/*width: 670px;
  float: right;*/
	/*font-size: 125%;
  color: #efecea;*/
	font-family: Tahoma, sans-serif, "Trebuchet MS", "Lucida Grande",
		"Lucida Sans Unicode", "Lucida Sans";
	font-size: 15px;
	color: #3b3737;
	line-height: 20px;
	/*background-color: #c4e3e5;*/
}

.content ul {
	margin: 2px 0 22px 0px;
}

.content ul li, .sidebar ul li {
	list-style-type: none;
	/*background: url(../images/bullet.png) no-repeat;*/
	margin: 0 0 0 0;
	padding: 0 0 4px 28px;
	line-height: 2.0em;
    font-family: Souvenir-Medium;
}

footer {
	width: 100%;
	font: 115% 'Souvenir-Medium';
	height: 23px;
	/*padding: 20px 0 20px 0;*/
	text-align: center;
	background: black;
}

footer p {
	/*line-height: 1.7em;
	padding: 0 0 10px 0;*/
	color: white;
}

footer a {
	color: #000;
	text-decoration: 1px 1px #FFF;
}

footer a:hover {
	color: #000;
	text-shadow: none;
	text-decoration: none;
}

.form_settings {
	margin: 15px 0 0 0;
}

.form_settings p {
	padding: 0 0 4px 0;
}

.form_settings span {
	float: left;
	width: 200px;
	text-align: left;
}

.form_settings input, .form_settings textarea {
	padding: 5px;
	width: 299px;
	font: 100% arial;
	border: 1px solid #D5D5D5;
	background: #FFF;
	color: #47433F;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border: 7px 7px 7px 7px;
}

.form_settings .submit {
	font: 140% 'Souvenir-Medium', arial, sans-serif;
	border: 0;
	width: 99px;
	margin: 0 0 0 212px;
	height: 33px;
	padding: 2px 0 3px 0;
	cursor: pointer;
	background: #ddd; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#fff, #ddd);
	background: -o-linear-gradient(#fff, #ddd);
	background: -webkit-linear-gradient(#fff, #ddd);
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
	border: 1px solid #ddd;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border: 7px 7px 7px 7px;
	color: #222;
	text-shadow: 1px 1px #FFF;
}

.form_settings textarea, .form_settings select {
	font: 100% arial;
	width: 299px;
}

.form_settings select {
	width: 310px;
}

.form_settings .checkbox {
	margin: 4px 0;
	padding: 0;
	width: 14px;
	border: 0;
	background: none;
}

.separator {
	width: 100%;
	height: 0;
	border-top: 1px solid #D9D5CF;
	border-bottom: 1px solid #FFF;
	margin: 0 0 20px 0;
}

table {
	margin: 10px 0 50px 0;
}

table tr th, table tr td {
	background: #0d0bb4;
	color: #FFF;
	padding: 7px 7px;
	text-align: left;
	font-size: 14px;
}

table tr td {
	background: transparent;
	color: #444;
	border-top: 1px solid lightgray;
}

#images {
	margin: 0 auto;
	width: 940px;
	height: 350px;
}

/* Image Transitions */
ul#images {
	margin: 0 15px 10px 0;
	padding: 0;
	float: left;
	list-style: none;
	position: relative;
}

ul#images li {
	display: block;
	overflow: hidden;
	padding: 0;
	float: left;
	width: 188px;
	height: 300px;
}

/**
Stylesheet for SooperFish by www.SooperThemes.com
Author: Jurriaan Roelofs
**/

/* Configuration of menu width */
html body ul.sf-menu ul, html body ul.sf-menu ul li {
	width: 120px;
	border-bottom: 1px solid whitesmoke;
}

html body ul.sf-menu ul ul {
	margin: 0 0 0 200px;
}

/* Framework for proper showing/hiding/positioning */
ul.sf-menu, ul.sf-menu * {
	margin-top: -2px;
	padding: 0;
}

ul.sf-menu {
	display: block;
	position: relative;
}

ul.sf-menu li {
	display: block;
	list-style: none;
	float: left;
	position: relative;
}

ul.sf-menu li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}

ul.sf-menu a {
	display: block;
	position: relative;
}

ul.sf-menu ul {
	position: absolute;
	left: 0;
	width: 150px;
	top: auto;
	left: -999999px;
}

ul.sf-menu ul a {
	zoom: 1; /* IE6/7 fix */
}

ul.sf-menu ul li {
	float: right;
	/* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */
	width: 188px;
}

ul.sf-menu ul ul {
	top: 0;
	margin: 0 0 0 150px;
}

ul.sf-menu li:hover ul, ul.sf-menu li:focus ul, ul.sf-menu li.sf-hover ul,
	ul.sf-menu ul li:hover ul, ul.sf-menu ul li:focus ul, ul.sf-menu ul li.sf-hover ul,
	ul.sf-menu ul ul li:hover ul, ul.sf-menu ul ul li:focus ul, ul.sf-menu ul ul li.sf-hover ul,
	ul.sf-menu ul ul ul li:hover ul, ul.sf-menu ul ul ul li:focus ul, ul.sf-menu ul ul ul li.sf-hover ul
	{
	left: auto;
}

ul.sf-menu li:hover ul ul, ul.sf-menu li:focus ul ul, ul.sf-menu li.sf-hover ul ul,
	ul.sf-menu ul li:hover ul ul, ul.sf-menu ul li:focus ul ul, ul.sf-menu ul li.sf-hover ul ul,
	ul.sf-menu ul ul li:hover ul ul, ul.sf-menu ul ul li:focus ul ul, ul.sf-menu ul ul li.sf-hover ul ul,
	ul.sf-menu ul ul ul li:hover ul ul, ul.sf-menu ul ul ul li:focus ul ul,
	ul.sf-menu ul ul ul li.sf-hover ul ul {
	left: -999999px;
}

/* autoArrows CSS */
span.sf-arrow {
	width: 7px;
	height: 7px;
	position: absolute;
	top: 20px;
	right: 5px;
	display: block;
	background: url(../images/arrows-black.png) no-repeat 0 0;
	overflow: hidden;
	/* making sure IE6 doesn't overflow and expand the box */
	font-size: 1px;
}

ul ul span.sf-arrow {
	right: 5px;
	top: 20px;
	background-position: 0 100%;
}

/* Theming the menu */
ul#nav {
	float: left;
}

ul#nav ul {
	background: #FBE9E7;
	margin-top: 5px;
	/*padding-bottom: 15px;*/
}

ul#nav li a {
	padding: 7px 25px 6px 25px;
	font: 135% 'Souvenir-Medium';
	/*text-shadow: 1px 1px #323232;*/
	text-decoration: none;
	/*color: rgba(50, 249, 66, 0.79);*/
	color: #545454;
	margin-right: 5px;
	letter-spacing: 0.05em;
}

ul#nav li.selected a, ul#nav li.selected a:hover, ul#nav li.selected a:focus,
	ul#nav li a:hover, ul#nav li a:focus {
	/* color: #FFA07A; */
	color: #ff008f;
	/*text-shadow: 1px 1px #000;*/
}

ul#nav ul li a {
	color: #000;
	/*text-shadow: 1px 1px #fff;*/
}

ul#nav ul li a:hover {
	/* color: #FFA07A; */
	color: #FFAB40;
	margin-right: 2px;
}

/* Image Transitions */
ul#images {
	margin: 0px 15px 10px 0;
	padding: 0;
	position: relative;
}

ul#images li {
	display: block;
	overflow: hidden;
	padding: 0;
	float: left;
	width: 235px;
	height: 255px;
	list-style: none;
}

ul.sf-menuR {
	display: block;
	position: relative;
	float: right;
}

ul.sf-menuR li {
	color: #FFFFFF;
	display: block;
	list-style: none;
	float: left;
	position: relative;
}

ul.sf-menuR li:after {
	color: #b3d045;
	content: "|";
	position: relative;
	margin: 0 5px 0 2px;
}

ul.sf-menuR li:last-child:after {
	content: "";
}

ul.sf-menuR li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}

ul.sf-menuR a {
	color: gray;
	display: inline-block;
	font: 120% 'Souvenir-Medium', arial, sans-serif;
}

ul.sf-menuR ul {
	position: absolute;
	left: 0;
	width: 150px;
	top: auto;
	left: -999999px;
}

#navTop {
	height: 37px;
	width: 200px;
	float: right;
	margin: 0px auto 0 auto;
	/*padding: 10px 0px;*/
	color: #FFF;
	background: #F2F4F4;
}

/**/
/* logo */
/**/
.logo1 {
	position: absolute;
	top: 0;
	font-size: 0;
	height: 48px;
	z-index: 1;
}

.img1 {
	height: 77px;
    width: 210px;
    margin: 10px 0 0 10px;
}

.img2 {
	height: 65px;
	margin: 125px 0 0 0;
}

.image3 {
	position: relative;
	width: 100%; /* for IE 6 */
}

.h2i1 {
	position: absolute;
	top: 20px;
	left: 0;
	width: 800%;
}
.h2i2 {
	position: absolute;
	top: 80px;
	left: 0;
	width: 800%;
}
.h2i3 {
	position: absolute;
	top: 140px;
	left: 0;
	width: 800%;
}
.h2i4 {
	position: absolute;
	top: 200px;
	left: 0;
	width: 800%;
}

.h2i5 {
	position: absolute;
	top: 138px;
	left: 0;
	width: 800%;
}

.h2i6 {
	position: absolute;
	top: 171px;
	left: 0;
	width: 800%;
}

.h2i7 {
	position: absolute;
	top: 204px;
	left: 0;
	width: 800%;
}

.span1 {
	letter-spacing: 1px;
	background: rgb(0, 0, 0); /* fallback color */
	/*background: rgba(156, 39, 176, 0.44);*/
	background: rgba(13, 11, 180, .3);
	padding: 6px;
	font-family: 'Souvenir-Medium';
	font-size: 17px;
	color: white;
	line-height: 20px;
}

.span2 {
	color: #63ff8d;
	font: bold 24px/45px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(156, 39, 176, 0.44);
	padding: 10px 0 10px 10px;
}

spacer1 {
	padding: 0 5px;
}

#home_split {
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, rgba(171, 222, 224, 1),
		rgba(255, 255, 255, 1)); /*Safari 5.1-6*/
	background: -o-linear-gradient(right, rgba(171, 222, 224, 1),
		rgba(255, 255, 255, 1)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(right, rgba(171, 222, 224, 1),
		rgba(255, 255, 255, 1)); /*Fx 3.6-15*/
	background: linear-gradient(to right, rgba(255, 255, 255, 1),
		rgba(255, 255, 255, 1)); /*Standard*/
	margin-top: 125px;
}

@media only screen and (max-device-width: 500px) {
	.atop {
		float: right;
		border:0px solid;
		font: normal 250% 'Souvenir-Medium';
		margin-top: 5px;
	}
	ul li {
		list-style-type: circle;
		margin: 0 0 6px 0;
		padding: 0 0 4px 5px;
		line-height: 1.5em;
	}
	#top_split {
	    /*background: transparent;
	    background: -moz-linear-gradient(#ECEFF1, #F9FBE7);
	    background: -o-linear-gradient(#ECEFF1, #F9FBE7);
	    background: -webkit-linear-gradient(#ECEFF1, #F9FBE7);*/
		background: white;   
		height: 222px;
		border-bottom: 1px solid lightgray;
	}
	header {
		width: 940px;
		background: transparent;
		height: 500px;
	}
	#logo {
		width: 940px;
		height: 185px;
		color: #888;
		padding: 0;
		float: left;
	}
	#logo h1, #logo h2 {
		font: normal 400% 'News Cycle', arial, sans-serif;
		border-bottom: 0;
		text-transform: none;
		margin: 0;
	}
	#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
		padding: 0;
		color: #FFF;
		text-decoration: none;
		text-shadow: 1px 1px #000;
	}
	#logo_text h1 a .logo_colour {
		font-size: 2em;
		color: darkblue;
	}
	#logo_text h2 {
		font-size: 140%;
		padding: 0 0 0 0;
		color: #FFF;
	}
	nav {
		height: 60px;
		width: 940px;
		float: right;
		margin: 40px auto 0 auto;
		padding: 10px 0px 0px 0px;
		color: #FFF;
		background: #FBE9E7;
		border-bottom: 1px solid #BDBDBD;
	}
	#site_content {
		width: 940px;
		overflow: hidden;
		margin: 0 auto 0 auto;
		padding: 10px 0 15px 0;
		border-top: 1px solid lightgray;
		min-height: 275px;
	}
	p {
		padding: 0 0 20px 15px;
		line-height: 1.5em;
		font-family: 'Souvenir-Medium';
		font-size: 0.935em;
		color: #545454;
		text-anchor: middle;
	}
	.content {
		text-align: left;		
		font-family: Tahoma, sans-serif, "Trebuchet MS", "Lucida Grande",
			"Lucida Sans Unicode", "Lucida Sans";
		/*font-size: 14px;*/
		color: #3b3737;
		line-height: 20px;		
	}
	footer {
		width: 100%;
		font: 250% 'Souvenir-Medium';
		height: 45px;
		text-align: center;
		background: black;
	}
	#images {
		margin: 0 auto;
		width: 134px;
		height: 350px;
	}
	ul#images li {
		display: block;
		overflow: hidden;
		padding: 0;
		float: left;
		width: 134px;
		height: 300px;
	}
	html body ul.sf-menu ul, html body ul.sf-menu ul li {
		width: 200px;
		border-bottom: 1px solid whitesmoke;
	}
	ul.sf-menu ul li {
		float: left;
		width: 150px;
	}
	ul#nav li a {
		padding: 7px 25px 6px 25px;
		font: 285% 'Souvenir-Medium';
		text-decoration: none;		
		color: #545454;
		margin-right: 5px;
		/*letter-spacing: 0.05em;*/
	}
	ul#images li {
		display: block;
		overflow: hidden;
		padding: 0;
		float: left;
		width: 235px;
		height: 300px;
		list-style: none;
	}
	.img1 {
		height: 170px;
		width: 450px;
		margin: 20px 0 0 0;
	}
	.img2 {
		height: 65px;
		margin: 125px 0 0 0;
	}
	.image3 {
		position: relative;
		width: 100%; 
	}
	.h2i1 {
		position: absolute;
		top: 15px;
		left: 0;
		width: 800%;
	}
	.h2i2 {
		position: absolute;
		top: 85px;
		left: 0;
		width: 800%;
	}
	.h2i3 {
		position: absolute;
		top: 155px;
		left: 0;
		width: 800%;
	}
	.h2i4 {
		position: absolute;
		top: 225px;
		left: 0;
		width: 800%;
	}
	.span1 {
		letter-spacing: 2px;
		background: rgb(0, 0, 0); 
		background: rgba(13, 11, 180, .3);
		padding: 6px;
		font-family: Tahoma, sans-serif, "Trebuchet MS", "Lucida Grande",
			"Lucida Sans Unicode", "Lucida Sans";
		font-size: 30px;
		color: white;
		line-height: 50px;
	}
	.contactLbl {
		margin-top: 0px;
		color: blue;
		font-weight: bold;
		/*font: 100% 'Yanone Kaffeesatz', arial, sans-serif;*/
		text-align: left;
		font-family: Souvenir-Medium;
		font-size: 30px;
		line-height: 40px;
	}
}

/**/
/* widget */
/**/
.widget+.widget {
	margin-top: 50px;
}

.widget-title {
	margin-bottom: 20px;
	padding-left: 7px;
	/*border-left-width: 3px;
  border-left-style: solid;*/
	font-size: 26px;
	line-height: 30px;
	color: #000;
}

/**/
/* feedback */
/**/
.feedback p {
	margin-bottom: 5px;
	line-height: 22px;
	padding: 0 0 4px 15px;
	font-family: Souvenir-Medium;
}

.feedback label {
	display: block;
	margin-bottom: 5px;
	font-family: Souvenir-Medium;
	font-size: 14px;
	color: #3b3737;
	line-height: 20px;
}

.feedback .input {
	float: left;
	width: 450px;
	margin: 0 0 5px 20px;
}

.feedback .input:first-child {
	margin-left: 0;
}

.feedback textarea {
	margin-bottom: 20px;
	border: 1px solid;
	border-color: lightgray;
	background: rgba(255, 250, 240, 0.56);
	width: 920px;
}

@media screen and (max-width: 1190px) { /* laptop */
	.feedback .input {
		width: 340px;
		margin-left: 20px;
	}
	.feedback {
	display: none;
	}
}

@media screen and (max-width: 980px) { /* pad */
	.feedback .input {
		width: 265px;
		margin-left: 18px;
	}
	.feedback {
	display: none;
	}
}

@media screen and (max-width: 767px) { /* phone */
	.feedback .input {
		float: none;
		width: 100%;
		margin-left: 0;
	}
	.feedback {
	display: none;
	}
}

/**/
/* contacts */
/**/
.widget-contacts dl {
	border: 1px solid #e3e3e3;
	border-top: 0;
}

.widget-contacts dt {
	position: relative;
	padding: 11px 38px 11px 19px;
	border-top: 1px solid #e3e3e3;
	font-size: 16px;
	line-height: 24px;
	color: #000;
	cursor: pointer;
	-o-transition: background 0.3s, color 0.3s;
	-ms-transition: background 0.3s, color 0.3s;
	-moz-transition: background 0.3s, color 0.3s;
	-webkit-transition: background 0.3s, color 0.3s;
}

.widget-contacts dt.opened, .widget-contacts dt.opened+dd {
	color: #fff;
}

.widget-contacts dt.opened:hover {
	color: #fff !important;
}

.widget-contacts dt:after, .widget-contacts dt:before {
	content: '';
	position: absolute;
	top: 50%;
	right: 13px;
	width: 12px;
	height: 4px;
	margin-top: -2px;
}

.widget-contacts dt:before {
	right: 17px;
	width: 4px;
	height: 12px;
	margin-top: -6px;
}

.widget-contacts dt.opened:after, .widget-contacts dt.opened:before {
	background: #fff;
}

.widget-contacts dt.opened:before {
	display: none;
}

.widget-contacts dd {
	display: none;
	padding: 2px 19px 15px 19px;
	-o-transition: background 0.3s, color 0.3s;
	-ms-transition: background 0.3s, color 0.3s;
	-moz-transition: background 0.3s, color 0.3s;
	-webkit-transition: background 0.3s, color 0.3s;
}

.widget-contacts li {
	margin-top: 6px;
	/*line-height: 20px;
	color: black;
	font: 150% 'Yanone Kaffeesatz', arial, sans-serif;
	*/
	text-align: left;
	font-family: Tahoma, sans-serif, "Trebuchet MS", "Lucida Grande",
		"Lucida Sans Unicode", "Lucida Sans";
	font-size: 14px;
	color: #3b3737;
	line-height: 20px;
}

.widget-contacts li a {
	color: #fff;
}

.widget-contacts li:first-child {
	margin-top: 0;
}

.widget-contacts dd i {
	display: block;
	float: left;
	width: 14px;
	margin-right: 5px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}

.contactLbl {
	margin-top: 0px;
	color: blue;
	font-weight: bold;
	/*font: 100% 'Yanone Kaffeesatz', arial, sans-serif;*/
	text-align: left;
	font-family: Tahoma, sans-serif, "Trebuchet MS", "Lucida Grande",
		"Lucida Sans Unicode", "Lucida Sans";
	font-size: 15px;
	line-height: 20px;
}

/**/
/* contacts */
/**/
.widget-contacts dt:hover {
	color: #00b85d;
}

.widget-contacts dt.opened, .widget-contacts dt.opened+dd {
	background: #00b85d;
}

.widget-contacts dt:before, .widget-contacts dt:after {
	background: #00b85d;
}

/**/
/* contacts */
/**/
.widget-contacts dt:hover {
	color: #f5961d;
}

.widget-contacts dt.opened, .widget-contacts dt.opened+dd {
	background: #f5961d;
}

.widget-contacts dt:before, .widget-contacts dt:after {
	background: #f5961d;
}

/**/
/* clearfix */
/**/
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

/**/
/* forms */
/**/
input::-moz-placeholder {
	color: #aeaeae;
}

input::-webkit-input-placeholder {
	color: #aeaeae;
}

select, textarea, input[type="url"], input[type="tel"], input[type="text"],
	input[type="email"], input[type="password"] {
	width: 100%;
	height: 40px;
	padding: 9px 10px;
	border: 1px solid lightgray;
	border-radius: 0;
	background: rgba(255, 250, 240, 0.56);
	font-size: 14px;
	line-height: 20px;
	color: #333;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-appearance: none;
}

select {
	background-image: url(../img/select.png);
	background-position: 100% 50%;
	background-repeat: no-repeat;
}

@
-moz-document url-prefix () {select {
	padding-right: 0;
	background-image: none !important;
	line-height: 38px;
}

}
textarea {
	height: auto;
	resize: none;
}

/**/
/* buttons */
/**/
.button {
	position: relative;
	display: inline-block;
	padding: 8px 25px;
	border-width: 3px;
	border-style: solid;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	text-transform: uppercase;
	margin-left: 10px;
	margin-right: 5px;
	color: lightgray;
	float: right;
	background: #0097A7;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-transition: border 0.3s, background 0.3s, color 0.3s;
	-ms-transition: border 0.3s, background 0.3s, color 0.3s;
	-moz-transition: border 0.3s, background 0.3s, color 0.3s;
	-webkit-transition: border 0.3s, background 0.3s, color 0.3s;
}

.button:hover {
	background: white;
}

.button i {
	display: block;
	float: left;
	margin-right: 8px;
	margin-left: -6px;
	font-size: 18px;
	line-height: 22px;
}

.button-disabled {
	cursor: default;
	opacity: 0.5;
}

.button.button-disabled:hover {
	color: #fff;
}

iframe, main, aside, section, article, div, h1, h2, h3, h4, h5, h6, p,
	dl, dt, dd, ul, ol, li, hr, blockquote, pre, a, address, del, em,
	strong, sub, sup, figure, figcaption, img, form, fieldset, legend,
	label, input, select, textarea, button, table, thead, tbody, tfoot, tr,
	th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	background: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body, iframe, header, main, aside, section, article, div,
	h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, hr, blockqoute, pre,
	figure, figcaption, form, fieldset, legend, label, input, select,
	textarea, button {
	display: block;
}

/* Popup container - can be anything you want */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* The actual popup */
.popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@
-webkit-keyframes fadeIn {
	from {opacity: 0;
}

to {
	opacity: 1;
}

}
@
keyframes fadeIn {
	from {opacity: 0;
}

to {
	opacity: 1;
}
}